*{
    box-sizing: border-box;
}  
body{
    background-color: #d0d1d75b;
    background-image: url("tryNewBackgroundImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
#regForm{
    background-color: #64656815;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 25px;
}  
h1{
    text-align: center;  
}
  
.container{
    background-color: white;
}
input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
input.invalid{
    background-color: #ffdddd;
}
.tab{
    display: none;
    font-size: 18px;
}
  
  button {
    background-color: #5861dc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #ce4dc9;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #dc1717;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  .step.finish {
    background-color: #04AA6D;
  }